.movie-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.movie-details::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff;
}

p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #fff;
}

.movie-details h1,
.movie-details p {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

